* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.centre {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

button {
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-color: transparent;
  transition: all 0.3s;
}
button:hover {
  background: #EB443F;
}

.text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.title {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
}

.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("img/header_bg.jpg");
  padding-top: 217px;
  padding-bottom: 493px;
}
.header__title {
  font-size: 64px;
}
.header__text {
  padding-top: 32px;
  padding-bottom: 44px;
  width: 481px;
}

.game-box {
  background: #000915;
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.game-box__text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}
.game-box__item {
  width: 378px;
  border-radius: 17px;
  border-color: transparent;
  height: 300px;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  transition: all 0.3s;
}
.game-box__item:hover {
  border: 3px solid #44D2FF;
}
.game-box__item:first-child {
  background-image: url("img/games/game_1.jpg");
}
.game-box__item:nth-child(2) {
  background-image: url("img/games/game_2.jpg");
}
.game-box__item:last-child {
  background-image: url("img/games/game_3.jpg");
}

.season-game {
  display: flex;
  background: #000915;
  padding-top: 233px;
  padding-bottom: 233px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.season-game_content {
  margin-bottom: 64px;
}
.season-game_title {
  font-size: 48px;
}
.season-game_text {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 584px;
}

@media (max-width: 767px) {
  .centre {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-image: url("img/heder_bg_mbl.jpg");
    padding-top: 238px;
    padding-bottom: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-size: 32px;
    text-align: center;
  }
  .header__text {
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    padding-bottom: 32px;
    text-align: center;
    width: 343px;
  }
  .game-box {
    justify-content: center;
  }
  .season-game {
    padding-top: 51px;
    padding-bottom: 75px;
    flex-direction: column;
    align-items: center;
  }
  .season-game_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .season-game_title {
    font-size: 32px;
    text-align: center;
  }
  .season-game_text {
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    width: 343px;
  }
  .season-game_img {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */